<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arkanoid</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body class="imgFondo fontRetro">
    <h1>Juego de Arkanoid</h1>
    
    <table id="retroTable">
        <tr>
            <td colspan="8" id="marcadorRetro">
                <span class="marcadorTitle">1 UP HIGH SCORE</span>
                <br><span class="mr50">00</span>50000
            </td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td class="redCell"></td>
            <td class="redCell"></td>
            <td class="redCell"></td>
            <td class="redCell"></td>
            <td class="redCell"></td>
            <td class="redCell"></td>
            <td class="redCell"></td>
            <td class="redCell"></td>
        </tr>
        <tr>
            <td class="yellowCell"></td>
            <td class="yellowCell"></td>
            <td class="yellowCell"></td>
            <td class="yellowCell"></td>
            <td class="yellowCell"></td>
            <td class="yellowCell"></td>
            <td class="yellowCell"></td>
            <td class="yellowCell"></td>
        </tr>
        <tr>
            <td class="blueCell"></td>
            <td class="blueCell"></td>
            <td class="blueCell"></td>
            <td class="blueCell"></td>
            <td class="blueCell"></td>
            <td class="blueCell"></td>
            <td class="blueCell"></td>
            <td class="blueCell"></td>
        </tr>
        <tr>
            <td class="violetCell"></td>
            <td class="violetCell"></td>
            <td class="violetCell"></td>
            <td class="emptyCell"></td>
            <td class="violetCell"></td>
            <td class="emptyCell"></td>
            <td class="emptyCell"></td>
            <td class="violetCell"></td>
        </tr>
        <tr>
            <td class="greenCell"></td>
            <td class="emptyCell"></td>
            <td class="greenCell"></td>
            <td class="emptyCell"></td>
            <td class="emptyCell"></td>
            <td class="emptyCell"></td>
            <td class="greenCell"></td>
            <td class="greenCell"></td>
        </tr>
        <tr>
            <td class="emptyCell"></td>
            <td class="emptyCell"></td>
            <td class="emptyCell"></td>
            <td class="emptyCell"></td>
            <td class="emptyCell"></td>
            <td class="emptyCell"></td>
            <td class="emptyCell"></td>
            <td class="emptyCell"></td>
        </tr>
        <tr>
            <td class="emptyCell"></td>
            <td class="emptyCell"></td>
            <td class="emptyCell"></td>
            <td class="emptyCell"></td>
            <td class="emptyCell"></td>
            <td class="emptyCell"></td>
            <td class="emptyCell">
                <div class="bola"></div>
            </td>
            <td class="emptyCell"></td>
        </tr>
        <tr>
            <td class="emptyCell"></td>
            <td class="emptyCell"></td>
            <td class="emptyCell"></td>
            <td class="emptyCell"></td>
            <td class="emptyCell"></td>
            <td class="emptyCell"></td>
            <td class="emptyCell"></td>
            <td class="emptyCell"></td>
        </tr>
        <tr>
            <td class="emptyCell"></td>
            <td class="emptyCell"></td>
            <td class="emptyCell"></td>
            <td class="emptyCell"></td>
            <td class="emptyCell"></td>
            <td class="emptyCell"></td>
            <td class="emptyCell"></td>
            <td class="emptyCell"></td>
        </tr>
        <tr>
            <td class="emptyCell"></td>
            <td class="emptyCell"></td>
            <td class="emptyCell"></td>
            <td class="emptyCell"></td>
            <td class="emptyCell"></td>
            <td class="emptyCell"></td>
            <td class="emptyCell"></td>
            <td class="emptyCell"></td>
        </tr>
        <tr>
            <td class="emptyCell"></td>
            <td class="emptyCell"></td>
            <td class="emptyCell"></td>
            <td class="emptyCell"></td>
            <td class="emptyCell"></td>
            <td class="emptyCell"></td>
            <td class="emptyCell"></td>
            <td class="emptyCell"></td>
        </tr>
        <tr>
            <td class="emptyCell"></td>
            <td class="emptyCell"></td>
            <td class="emptyCell"></td>
            <td class="emptyCell"></td>
            <td class="emptyCell"></td>
            <td class="emptyCell"></td>
            <td class="emptyCell"></td>
            <td class="emptyCell"></td>
        </tr>
        <tr>
            <td class="emptyCell"></td>
            <td class="emptyCell"></td>
            <td class="emptyCell"></td>
            <td class="emptyCell"></td>
            <td class="emptyCell"></td>
            <td class="emptyCell"></td>
            <td class="emptyCell"></td>
            <td class="emptyCell"></td>
        </tr>
        <tr>
            <td class="emptyCell"></td>
            <td colspan="2" class="emptyCell textCenter">
                <img src="../img/barra.png" alt="cursor">
            </td>
            <td class="emptyCell"></td>
            <td class="emptyCell"></td>
            <td class="emptyCell"></td>
            <td class="emptyCell"></td>
            <td class="emptyCell"></td>
        </tr>
    </table>
</body>
</html>